node_modules
**/node_modules
dist
**/dist
.turbo
**/.turbo
.next
**/.next
coverage
**/coverage
.git
.gitignore
.env
**/.env
*.log
.vscode
.idea
Dockerfile
.dockerignore
docker-compose.yml
*.tsbuildinfo
